<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>{% block title %}Home{% endblock %} | Delta Sigma Phi Alpha Alpha Chapter</title>
<link rel="icon" type="image/png" href="/static/images/favicon.ico">
<!-- CSS Includes -->	
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css"><link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/base/base-min.css">
   <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>

<div id="doc3" class="yui-t7">
   <div id="hd" role="navigation">
		<div class='container'>
   		<div id='menu'>
			<ul>
				<li><a href="{% url views.home %}">Home</a></li>|<li><a href="http://news.illinideltasigs.org/">News</a></li>|<li><a href="http://www.facebook.com/pages/Champaign-IL/Delta-Sigma-Phi/14064833757?v=app_2344061033">Events</a></li>|<li><a href="http://www.flickr.com/photos/deltasigs/">Photos</a></li>|<li><a href="{% url views.join_us %}">Join Us</a></li>|<li><a href="{% url views.scholarship %}">Scholarship</a></li>|<li><a href="{% url views.costs %}">Finances</a></li>|<li><a href="">Housing</a></li>|<li><a href="">About Us</a></li>
			</ul>
		</div>
		</div>
   </div>
   <div id="bd" role="main">
	<div class="yui-g">
		<div class='container'>
			<div id="logo_hd">Delta Sigma Phi Fraternity</div>
			<div id="logo_sub_hd">Alpha Alpha Chapter</div>
		</div>
	<!-- YOUR DATA GOES HERE -->
	</div>
	{% block content %} 
	{% endblock %}
	</div>
   <div id="ft" role="contentinfo">
		<div class='container'>
		<a href="http://www.google.com/a/illinideltasigs.org/"><img src='/static/images/delta-sigma-phi.png'></img></a>
		<p>Content copyright &copy;1999-2008 <a href="http://www.illinideltasigs.org/">Delta Sigma Phi Alpha Alpha</a></p>
		</div>
	</div>
</div>

</body>
</html>

