<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Delta Sigma Phi - Alpha Alpha Chapter</title>
  <link href="http://www.37signals.com/svn/stylesheets/screen.css?1228280136" media="screen" rel="stylesheet" type="text/css" />
</head>

<body class="home">  


<div class="gradient">

<div id="Container">

  <div id="Content">
    <div class="post"  id="article_1451">      
		<div class="post_header"><h2><a href="http://www.37signals.com/svn/posts/1451-new-in-backpack-page-notifications-and-up-front-share-settings">Alumni Golf Outing</a>
    <span class="nobreak">
      <span class="author">Rahul</span>
      <span class="date">Dec 08</span>
      
    </span>
  </h2>
  <h3>
        
    <span id="comment_activity" class="comment_activity"><a href="http://www.37signals.com/svn/posts/1451-new-in-backpack-page-notifications-and-up-front-share-settings?4#comments">4 comments</a> Latest by Jose</span>
  </h3>
</div>


<h2>Attendance</h2>

	<p>Please RSVP if you are attending the golf outing</p>

<h2>Location</h2>

	<p>We will be playing at White Pines golf course in Bensonville</p>

	<p>Afterwards we will be heading over to Joes on Weed St. for a late happy hour.</p>
      
</div>  
    <div class="post"  id="article_1451">      
		<div class="post_header"><h2><a href="http://www.37signals.com/svn/posts/1451-new-in-backpack-page-notifications-and-up-front-share-settings">Alumni Golf Outing</a>
    <span class="nobreak">
      <span class="author">Rahul</span>
      <span class="date">Dec 08</span>
      
    </span>
  </h2>
  <h3>
        
    <span id="comment_activity" class="comment_activity"><a href="http://www.37signals.com/svn/posts/1451-new-in-backpack-page-notifications-and-up-front-share-settings?4#comments">4 comments</a> Latest by Jose</span>
  </h3>
</div>


<h2>Attendance</h2>

	<p>Please RSVP if you are attending the golf outing</p>

<h2>Location</h2>

	<p>We will be playing at White Pines golf course in Bensonville</p>

	<p>Afterwards we will be heading over to Joes on Weed St. for a late happy hour.</p>
      
</div>
    <div class="post"  id="article_1451">      
		<div class="post_header"><h2><a href="http://www.37signals.com/svn/posts/1451-new-in-backpack-page-notifications-and-up-front-share-settings">Alumni Golf Outing</a>
    <span class="nobreak">
      <span class="author">Rahul</span>
      <span class="date">Dec 08</span>
      
    </span>
  </h2>
  <h3>
        
    <span id="comment_activity" class="comment_activity"><a href="http://www.37signals.com/svn/posts/1451-new-in-backpack-page-notifications-and-up-front-share-settings?4#comments">4 comments</a> Latest by Jose</span>
  </h3>
</div>


<h2>Attendance</h2>

	<p>Please RSVP if you are attending the golf outing</p>

<h2>Location</h2>

	<p>We will be playing at White Pines golf course in Bensonville</p>

	<p>Afterwards we will be heading over to Joes on Weed St. for a late happy hour.</p>
      
</div>
    <div class="post"  id="article_1451">      
		<div class="post_header"><h2><a href="http://www.37signals.com/svn/posts/1451-new-in-backpack-page-notifications-and-up-front-share-settings">Alumni Golf Outing</a>
    <span class="nobreak">
      <span class="author">Rahul</span>
      <span class="date">Dec 08</span>
      
    </span>
  </h2>
  <h3>
        
    <span id="comment_activity" class="comment_activity"><a href="http://www.37signals.com/svn/posts/1451-new-in-backpack-page-notifications-and-up-front-share-settings?4#comments">4 comments</a> Latest by Jose</span>
  </h3>
</div>


<h2>Attendance</h2>

	<p>Please RSVP if you are attending the golf outing</p>

<h2>Location</h2>

	<p>We will be playing at White Pines golf course in Bensonville</p>

	<p>Afterwards we will be heading over to Joes on Weed St. for a late happy hour.</p>
      
</div>  
</div>

  


  
  
   </div>
  
  <div class="sidebar">
	<div class="gradient">
		<h3>Upcoming Events</h3>
		<p><a href="">Broomball</a></p>
		<p><a href="">Sounds 4 Support</a></p>
		<p><a href="">Snow Football</a></p>
		<p><a href="">Holiday Dinner</a></p>
	</div>
  </div>

  <div id="Footer">
    <p>Content copyright &copy;1999-2008 <a href="http://www.illinideltasigs.org">Delta Sigma Phi Alpha Alpha</a></p>

   </div>
</div>
</div>
</body>
</html>
