{% extends 'base.html' %}

{% block title %}The Carillon{% endblock %}

{% block content %}
<script type="text/javascript" src="/static/javascript/yui3/yui/yui-min.js"></script>
<script type="text/javascript" src="/static/javascript/yui3/dump/dump-min.js"></script>
<script type="text/javascript" src="/static/javascript/yui3/substitute/substitute-min.js"></script>
<script type="text/javascript" src="/static/javascript/yui3/oop/oop-min.js"></script>
<script type="text/javascript" src="/static/javascript/yui3/dom/dom-min.js"></script>
<script type="text/javascript" src="/static/javascript/yui3/event-custom/event-custom-base-min.js"></script>
<script type="text/javascript" src="/static/javascript/yui3/event/event-base-min.js"></script>
<script type="text/javascript" src="/static/javascript/yui3/pluginhost/pluginhost-min.js"></script>
<script type="text/javascript" src="/static/javascript/yui3/node/node-min.js"></script>
<script type="text/javascript" src="/static/javascript/yui3/event/event-delegate-min.js"></script>
<script type="text/javascript" src="/static/javascript/yui3/event-simulate/event-simulate-min.js"></script>
<script type="text/javascript" src="/static/javascript/yui3/test/test-min.js"></script>
<script src="/static/javascript/tests.js"></script>
<link rel="stylesheet" href="/static/css/costs.css" type="text/css" media="screen" title="no title" charset="utf-8">
<div class="yui-gb">
	<div class='container'>
		<p class='desc_hd'>The Carillon</p>
		<div class='container separator'></div>
			<p class='desc_sub_hd'>Newsletter Archive</p>
			<p class='costs_item'><a href="/static/carillon/v3_1.pdf">Volume 3, Issue 1</a> - October 7, 2009</p>
	</div>
</div>
{% endblock %}