{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/costs.css" type="text/css" media="screen" title="no title" charset="utf-8">
<div class="yui-g">
	<div class='container'>
		<p class='desc_hd'>Scheduling a House Visit</p>
		
		<img src='/static/images/snowy_house_banner.jpg'/>
		<p class="question">Can I visit the house? Do I have to make an appointment?</p>
		<p class="answer">We would be happy to have you visit our chapter house to see the facility and meet with the members of the organization and our Director of Operations, Nancy Eubanks. We only ask that you contact us so that we can set aside some time to talk to you.</p>
		<p class="question">I want to schedule an appointment. Who should I contact?</p>
		<p class="answer">Please email our Director of Operations, Nancy Eubanks, at <a href="mailto:naneubanks@yahoo.com">naneubanks@yahoo.com</a> or our President, Josh Hawthorne, at <a href="mailto:jhawtho2@gmail.com">jhawtho2@gmail.com</a> to schedule a visit.</p>
	</div>
</div>
{% endblock %}