{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/scholarship.css" type="text/css" media="screen" title="no title" charset="utf-8">
<div class="yui-g">
	<div class='container'>
		<p class='desc_hd'>2009 New Member Scholarship</p>
		<img src="/static/images/scholarship_img.jpg"/>
		<div class='letter'>
		<p class='desc_sub_hd'>Letter from the President</p>
		<p>Dear New College Student:</p>


	<p>The Delta Sigma Phi Fraternity is a group of men who strive to make themselves and those around them better.  To do this we focus on three main parts of all of our lives:  the elevation of academic thought, working together for the common good, and promoting friendship within and outside the organization as well as across time through events with alumni.  All of our resources are directed toward accomplishing these goals.</p>

	<p>There are many stereotypes that are associated with fraternities and the Greek system in general.  However, as is true with all stereotypes, many of these are gross generalizations or are simply false.  One of these stereotypes is hazing.  While some Greek organizations haze, Delta Sigma Phi is absolutely committed to not hazing its members.  Further hazing does not propagate the environment of respect and mutual friendship that Delta Sigma Phi seeks to elevate. </p> 

	<p>Another of these stereotypes is that all fraternities party and drink all the time.  While we do have social events, we seek to promote a balanced lifestyle for all of our members.  So, along with having fun, members must achieve good grades and help the community by doing service to others.  Our chapter has achieved an average 3.31 GPA, which is much higher than the all undergraduate GPA, which is 3.1.  We believe that there is a place for all activities in our lives, and academic success is a very important part of that.</p>

	<p>But, I know that just by telling you about my organization, you may not fully believe me.  So, I would like to take this chance to invite you to experience it for yourself.  Delta Sigma Phi is giving away three (3) $500 dollar scholarships to new members this year.  Attached is a scholarship form.  To be eligible for the scholarship you must join the fraternity and sign a contract to live in house in 2010.  Also attached are the fraternity’s financial requirements.  Please note, that by applying for this scholarship you do not join Delta Sigma Phi Fraternity.  It only shows us that you are interested in meeting some new goal orientated individuals.  So, I implore you to fill out the form and come by the house so that we can get to know each other.</p>

		<p>Sincerely yours,</p>
		<p>Josh Hawthorne</p>
		<p>President, Delta Sigma Phi Fraternity</p>
		<p class='desc_sub_hd'>Scholarship Application</p>
<p> The application is due August 3rd, 2009. If you have any questions feel free to email <a href="mailto:scholarship@illinideltasigs.org?subject=Scholarship Application Inquiry">scholarship AT illinideltasigs.org</a></p>
			<p class='scholarship_app'><a href="/static/scholarship_application.pdf">Download the Application</a></p>
</div>

	</div>
</div>

{% endblock %}